.notification-disabled {
    color: rgba(0,0,0,0.5);
    font-weight: 400;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 14px;
    padding-left:10px;
}

  .notification-enabled {
    color: inherit;
    font-weight: 500;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 14px;
  }