
  <!-- <mat-button-toggle-group #group="matButtonToggleGroup" [value]="selectedToggle"
  (change)="toggleSubcription(group.value)">
  <mat-button-toggle value="Enabled">
    Enabled
  </mat-button-toggle>
  <mat-button-toggle value="Disabled">
    Disabled
  </mat-button-toggle>
</mat-button-toggle-group> -->

<mat-slide-toggle [color]="color" [checked]="checked" (change)="toggle($event)">
  <mat-icon class="toolbar-icon" aria-hidden="false" aria-label="Notifications Status">{{ toggleIcon }} 
  </mat-icon>
  <!-- <span [className]="toggleTextClass">{{ toggleText }}</span> -->
</mat-slide-toggle>