<mat-card class="notification-card">
  <mat-card-header>
    <mat-icon aria-hidden="false" aria-label="Example home icon">{{ notificationPreference.icon }}</mat-icon>
    <mat-card-title>{{ notificationPreference.title }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{ notificationPreference.description }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <mat-slide-toggle [checked]="checked" [disabled]="enabled" (change)="toggle($event)">
      <p [className]="enabledClass">{{ enabledText }}</p>
    </mat-slide-toggle>
  </mat-card-actions>
</mat-card>
