<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
    <h3>Notification Preferences</h3>
   
    <div>
        <notificationenable-component></notificationenable-component>
    </div>

    <p class="info">
            Use the controls below to set your notification preferences. These preferences will be stored against your profile and cannot be edited by anyone other than an administrator.
        </p>

    <div fxLayout="row wrap" fxLayoutGap="25px" fxLayoutAlign="flex-start">
        <notificationcard-component fxFlex="0 1 calc(10% - 25px)" *ngFor="let pref of notificationPreferences"
            [notificationPreference]="pref">
        </notificationcard-component>
    </div>
</div>