.notification-card {
    width: 250px;
    margin-top:10px;
    margin-bottom:10px;
  }
  
  .notification-header-image {
    background-image: url('https://cdn1.iconfinder.com/data/icons/ui-22/24/391-512.png');
    background-size: cover;
  }