<!--The content below is only a placeholder and can be replaced.-->
<div class="container" id="preferences-header">

    <notificationenable-component></notificationenable-component>

    <p class="info">
        Use the controls below to set your notification preferences. These preferences will be stored against your
        profile and cannot be edited by anyone other than an administrator.
    </p>

    <div fxLayout="row wrap" fxLayoutGap="25px" fxLayoutAlign="flex-start">
        <notificationcard-component fxFlex="0 1 calc(10% - 25px)" *ngFor="let pref of notificationPreferences"
            [notificationPreference]="pref">
        </notificationcard-component>
    </div>
    <mat-toolbar id="preferences-footer">
        <span class="credits">Push Notifications for D365 v{{ version }}</span>
        <span class="toolbar-spacer"></span>
        <span class="credits">
            <!-- Place this tag where you want the button to render. -->
            <a class="github-button" href="https://github.com/BenLBartle" data-size="large" data-show-count="true" aria-label="Follow @BenLBartle on GitHub">Follow @BenLBartle</a></span>
    </mat-toolbar>
</div>